


.login-container{
  display: block;
  margin-top: 100px;
  padding: 100px;
  border-radius: 25px;
  background-color: #f2f2f2;
}
.login-links{
  padding-top: 20px;
  display:inline-block;
}
.login-links a{
  margin-right: 5px;

}
.login-form input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-form button{
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  float:right;
}
